<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=packtpubstorage;AccountKey=EJStsVLsPVnVtHJBJ6gZOz/ZyAYgWUFK1stoMGccM//mWmrD3s+btx0ydRTiQel3HCVNP9Ghyuh+oqKwMr30Tw==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>